<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NeoCompEntities" connectionString="metadata=res://*/DataTransform.NeoCompModel.csdl|res://*/DataTransform.NeoCompModel.ssdl|res://*/DataTransform.NeoCompModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\sfsql2008;Initial Catalog=NeoComp;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>