<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImgNoise.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ImgNoise.Properties.Settings>
            <setting name="MaxNoiseLevel" serializeAs="String">
                <value>0.11</value>
            </setting>
            <setting name="ImagePaths" serializeAs="String">
                <value>C:\Users\unbornchikken\Pictures\NN\HQ_New\</value>
            </setting>
            <setting name="FFNeuronCount" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="SampleSize" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="SampleCount" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="RecurrentSampleLength" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="ValidationSampleCount" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="RNeuronCount" serializeAs="String">
                <value>14</value>
            </setting>
        </ImgNoise.Properties.Settings>
    </applicationSettings>
</configuration>