<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Gender.Training.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="GenderEntities" connectionString="metadata=res://Gender.Data/GenderModel.csdl|res://Gender.Data/GenderModel.ssdl|res://Gender.Data/GenderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SFSQL2008;Initial Catalog=Gender;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <applicationSettings>
    <Gender.Training.Properties.Settings>
      <setting name="NeuronCount" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="NumberOfIterations" serializeAs="String">
        <value>3</value>
      </setting>
    </Gender.Training.Properties.Settings>
  </applicationSettings>
</configuration>
