<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImgNoise.Training.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ImgNoise.Training.Properties.Settings>
            <setting name="ImagePaths" serializeAs="String">
                <value>C:\Users\unbornchikken\Pictures\NN\HQ_New\</value>
            </setting>
            <setting name="NeuronCount" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="SampleSize" serializeAs="String">
                <value>7</value>
            </setting>
        </ImgNoise.Training.Properties.Settings>
    </applicationSettings>
</configuration>