<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PussyDetector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PussyDetector.Properties.Settings>
            <setting name="PussyImagesPath" serializeAs="String">
                <value>e:\Users\unbornchikken\Pictures\Pinadetektor\Pina\</value>
            </setting>
            <setting name="NotPussyImagesPath" serializeAs="String">
                <value>e:\Users\unbornchikken\Pictures\Pinadetektor\Nem pina\</value>
            </setting>
            <setting name="SampleSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ValidationPercent" serializeAs="String">
                <value>10</value>
            </setting>
        </PussyDetector.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
